name: check_toml_version

on:
  workflow_call:
    inputs:
      pypi_package:
        required: true
        type: string
    outputs:
      uped_toml:
        description: "Whether pyproject.toml version differs from PyPI"
        value: ${{ jobs.check.outputs.uped_toml }}
      version:
        description: "The version from pyproject.toml"
        value: ${{ jobs.check.outputs.version }}

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      uped_toml: ${{ steps.extract_update.outputs.uped_toml }}
      version: ${{ steps.get_build_version.outputs.version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Get version from PyPI
        id: get_pypi_version
        run: |
          VERSION=$(curl -s https://pypi.org/pypi/${{ inputs.pypi_package }}/json | jq -r .info.version)
          echo "pypi_version=$VERSION" >> $GITHUB_ENV

      - name: Install Poetry and Version Plugin
        run: pip install "poetry<2" poetry-version-from-file

      - name: Poetry Install
        run: poetry install

      - name: Build PyPI package
        run: poetry build

      - name: Get version from poetry build
        id: get_build_version
        run: |
          VERSION=$(poetry version -s)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Check for version update
        id: extract_update
        run: |
          python3 ./.github/scripts/check_version.py "${{ steps.get_build_version.outputs.version }}" "${{ env.pypi_version }}"
          echo "uped_toml=true" >> $GITHUB_OUTPUT
