name: Update Canvas Material and Notify Discord

on:
  workflow_call:
    inputs:
      course_id:
        required: true
        type: string
      mdxcanvas_version:
        required: true
        type: string
      course_info_path:
        required: true
        type: string
      global_args_path:
        required: true
        type: string
      template_path:
        required: true
        type: string
      canvas_css_path:
        required: false
        type: string
    secrets:
      discord_role:
        required: true
      canvas_api_token:
        required: true
      discord_webhook_url:
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update_canvas_material:
    runs-on: ubuntu-latest
    environment: production

    env:
      LOGS_DIR: ${{ github.workspace }}/.github/logs
      OUTPUT_PATH: ${{ github.workspace }}/.github/logs/mdxcanvas_output.json

    steps:
      - name: Checkout repos
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup notifications
        uses: ./.github/actions/setup-notifications
        with:
          extra-packages: mdxcanvas==${{ inputs.mdxcanvas_version }}

      - name: Create logs directory
        run: mkdir -p "$LOGS_DIR"

      - name: Run MDXCanvas
        id: mdxcanvas
        continue-on-error: true
        env:
          CANVAS_API_TOKEN: ${{ secrets.canvas_api_token }}
        run: |
          CMD="mdxcanvas --course-info ${{ github.workspace }}/${{ inputs.course_info_path }} \
                         --global-args ${{ github.workspace }}/${{ inputs.global_args_path }} \
                         --output-file $OUTPUT_PATH"

          if [ -n "${{ inputs.canvas_css_path }}" ]; then
            CMD="$CMD --css ${{ github.workspace }}/${{ inputs.canvas_css_path }}"
          fi

          CMD="$CMD ${{ github.workspace }}/${{ inputs.template_path }}"

          eval "$CMD" \
            > "$LOGS_DIR/mdxcanvas.stdout.log" \
            2> "$LOGS_DIR/mdxcanvas.stderr.log"

      - name: Print debug logs
        run: |
          echo "=== MDXCanvas STDOUT ==="
            cat "$LOGS_DIR/mdxcanvas.stdout.log"

          echo "=== MDXCanvas STDERR ==="
            cat "$LOGS_DIR/mdxcanvas.stderr.log"

      - name: Send course notification
        uses: ./.github/actions/send-course-notification
        with:
          notification-type: canvas
          output-type: MDXCanvas
          payload-path: ${{ env.OUTPUT_PATH }}
          stdout-log: ${{ env.LOGS_DIR }}/mdxcanvas.stdout.log
          stderr-log: ${{ env.LOGS_DIR }}/mdxcanvas.stderr.log
          course-id: ${{ inputs.course_id }}
          discord-role: ${{ secrets.discord_role }}
          discord-webhook-url: ${{ secrets.discord_webhook_url }}
