name: Update Canvas Material and Notify Discord

on:
  workflow_call:
    inputs:
      course_id:
        required: true
        type: string
      mdxcanvas_version:
        required: true
        type: string
      course_info_path:
        required: true
        type: string
      global_args_path:
        required: true
        type: string
      template_path:
        required: true
        type: string
      canvas_css_path:
        required: false
        type: string
    secrets:
      discord_role:
        required: true
      canvas_api_token:
        required: true
      discord_webhook_url:
        required: true


permissions:
  contents: write
  pull-requests: write

jobs:
  update_canvas_material:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout calling repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Checkout utils repo
        uses: actions/checkout@v4
        with:
          repository: BYU-CS-Course-Ops/utils
          path: utils

      - name: Install MDXCanvas
        run: |
            pip install mdxcanvas==${{ inputs.mdxcanvas_version }}

      - name: Ensure logs directory exists
        run: mkdir -p ${{ github.workspace }}/.github/logs

      - name: Output path
        run: echo "OUTPUT_PATH=${{ github.workspace }}/.github/logs/mdxcanvas_output.json" >> $GITHUB_ENV

      - name: Run MDXCanvas
        id: run_mdxcanvas
        continue-on-error: true
        run: |
          export CANVAS_API_TOKEN=${{ secrets.canvas_api_token }}

          STDOUT_LOG="${{ github.workspace }}/.github/logs/mdxcanvas_stdout.log"
          STDERR_LOG="${{ github.workspace }}/.github/logs/mdxcanvas_stderr.log"

          CMD="mdxcanvas --course-info ${{ github.workspace }}/${{ inputs.course_info_path }} \
                         --global-args ${{ github.workspace }}/${{ inputs.global_args_path }}"

          if [ -n "${{ inputs.canvas_css_path }}" ]; then
            CMD="$CMD --css ${{ github.workspace }}/${{ inputs.canvas_css_path }}"
          fi

          CMD="$CMD --output-file ${{ env.OUTPUT_PATH }} \
                     ${{ github.workspace }}/${{ inputs.template_path }}"

          echo "Running: \$CMD"
          eval $CMD > "$STDOUT_LOG" 2> "$STDERR_LOG"

      - name: Create fallback output if needed
        if: always()
        run: |
          python utils/course_updates/create_fallback.py \
              --output-type MDXCanvas \
              --output-path "${{ env.OUTPUT_PATH }}" \
              --stdout-log "${{ github.workspace }}/.github/logs/mdxcanvas_stdout.log" \
              --stderr-log "${{ github.workspace }}/.github/logs/mdxcanvas_stderr.log" \
              --action-url "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

      - name: Get User Avatar URL
        run: |
          AVATAR_URL=$(curl -s https://api.github.com/users/${{ github.actor }} | jq -r '.avatar_url')
          echo "AVATAR_URL=$AVATAR_URL" >> $GITHUB_ENV

      - name: Install discord_webhook
        run: |
          pip install discord-webhook

      - name: Send notification to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.discord_webhook_url }}
        run: |
          python utils/course_updates/send_course_notification.py \
              --type "canvas" \
              --payload "${{ env.OUTPUT_PATH }}" \
              --course-id "${{ inputs.course_id }}" \
              --author "${{ github.actor }}" \
              --author-icon "$AVATAR_URL" \
              --branch "${{ github.ref }}" \
              --cicd-id "${{ secrets.discord_role }}" \
              --action-url "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
