name: poetry_build

on:
  workflow_call:
    inputs:
      pypi_package:
        required: true
        type: string

jobs:
  check-toml-version:
    uses: ./.github/workflows/check_toml.yaml
    with:
      pypi_package: ${{ inputs.pypi_package }}
